.StatisticDashboardPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
    box-sizing: border-box;   
    height: 100%;
    padding: 16px;
    color: white;
}

.StatisticDashboardPanel .Statistics  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.StatisticDashboardPanel .Statistics .Value {
    font-size: 2rem;
    font-weight: bold;
}

